body {
  padding: 0; 
  margin: 0;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Oswald', sans-serif;
}
p,a,li{
  font-family: 'Lato', sans-serif;
}
canvas {
  position: relative;
  left:0;
  top:0;
  z-index:-1;
  width:100%;
  height: 100%;
}
header{
  font-size: 1.5em;
  background: rgba(0,0,0,0.6);
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 5;
}
header ul li{
  display: inline-block;
  margin:0 5%;
}
h1{
  margin: 0;
  font-size: 7em;
  text-align: center;
}
h2{
  font-size: 4em;
  margin: 0;
  text-align: center;
}
p{
  margin:0;
}
ul {
  list-style-type: none;
  position: relative;
  margin:0px auto;
  padding: 0;
}
a:link{ 
    color: #C77966;
    text-decoration: none;
    cursor: auto;
}
a:visited{
  color: #C77944;
}
a:link:active, a:visited:active { 
    color: (internal value);
}

.list-text{
  margin-top: 15%;
  display: inline-block;
}

.laptop{
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 0 10px 0 5%;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .laptop{
    width: 50%;
    height: 50%;
    text-align: center;
    display: block;
    margin: 0 auto;
  } 
  .skillz-div{
    width: 350px;
    height: 350px;
    display: block;
    margin: 15px auto;
    background: purple;
    border-radius: 50%;
  }
  .circle{
    width: 350px;
    height: 350px;
    display: block;
  }
  header{
  font-size: 2em;
  }
  header ul li{
  margin:3% 2%;
  }
  .spaced{
  letter-spacing: 0.1em;
  }
  .skills-list{
  font-size: 1.75em;
  }
  .important-text{
   font-size: 1.8em;
  }
}
.project{
  width: 100%;
  height: auto;
}
.project-desc{
  width: 90%;
  height: auto;
  display: inline-block;
  font-size: 1.15em;
  margin:0 5% 5% 5%;
  background:rgba(255,255,255,0.4);
}
#titleDiv{
  position: absolute;
  top: 15%;
  width: 100%;
}
.title{
  margin: 0 auto;
}
.white-text{
  color: white;
  text-decoration: none;
  text-align: center;
}
.spaced{
  letter-spacing: 0.2em;
  color: white;
}
.about{
  margin: 0 10px;
  text-align: center;
}
.important-text{
  font-weight: bold;
}
#profilepic{
  width: 100%;
  height: auto;
  text-align: center;
  border:5px double black; 
}
#borderbox{
  /*border:1px solid black;*/ 
  margin: 0 auto;
  width: 30%;
}
#profiletext{
  display: inline-block;
  width: 50%;
}
#projects-section{
  /*background: #C77966;*/
}
#project1{
  background-image: url("./imgs/orangeSineLines.png");
  background-position: center;
}
#project2{
  background-image: url("./imgs/diagonallines.png");
  background-position: center;
  background-repeat: no-repeat;
}
#project3{
  background-image: url("./imgs/squiggleCircle2.png");
  background-position: center;
  background-repeat: no-repeat;
}
#project5{
  background-image: url("./imgs/sineXandY.png");
  background-position: center;
  background-repeat: no-repeat;
}
#project4{
  background-image: url("./imgs/filledCircles.png");
  background-position: center;
  background-repeat: no-repeat;
}
#skillz-section{
  text-align: center;
}

.skillz-div{
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 5px 5%;
  background: #c77966;
  border-radius: 50%;
}
.contact-div{
  text-align: center;
  margin: 50px auto 200px auto;
}
.contact-link{
  margin: 10px 50px;
}
.fa-div{
  display: inline-block;
  text-align: center;
}
footer{
  text-align: center;
  margin-bottom: 10px;
}
