body {
  padding: 0; 
  margin: 0;
} 
canvas {
  position: relative;
  left:0;
  top:0;
  z-index:-1;
  width:100%;
  height: 100%;
}
header{
  background: rgba(0,0,0,0.6);
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 5;
}
header ul li{
  display: inline-block;
  margin:0 5%;
}
h1{
  margin: 0;
  font-size: 75px;
}
h2{
  font-size: 60px;
  margin: 0;
  text-align: center;
}
p{
  margin:0;
}

.laptop{
  width: 200px;
  height: auto;
  display: inline-block;
  margin: 0 10px 0 5%;
}
.project-desc{
  display: inline-block;
  /*margin: 5% 0 0 0;*/
  margin-bottom: 5%;
  /*margin : auto;*/
}
#titleDiv{
  position: absolute;
  top: 25%;
  width: 100%;
}
.title{
  margin: 0 auto;
}
.white-text{
  color: white;
  text-decoration: none;
  text-align: center;
  font-family: sans-serif;
  color: white;
}
.spaced{
  letter-spacing: 0.2em;
}
.about{
  margin: 0 10px;
  text-align: center;
}
.important-text{
  font-weight: bold;
}
#profilepic{
  width: 100%;
  height: auto;
  text-align: center;
  border:5px double black; 
}
#borderbox{
  /*border:1px solid black;*/ 
  margin: 0 auto;
  width: 30%;
}
#profiletext{
  display: inline-block;
  width: 50%;
  /*text-align: left;*/
}
#projects-section{
  /*background: #C77966;*/
}
#project1{
  background-image: url("./imgs/diagonallines.png");
  background-position: center;
}
#project2{
  background-image: url("./imgs/orangeSineLines.png");
  background-position: center;
}