body {
  padding: 0; 
  margin: 0;
} 
canvas {
  position: relative;
  left:0;
  top:0;
  z-index:-1;
  width:100%;
  height: 100%;
}
header{
  background: rgba(0,0,0,0.6);
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 5;
}
header ul li{
  display: inline-block;
  margin:0 5%;
}
h1{
  margin: 0;
  font-size: 75px;
}
h2{
  font-size: 60px;
  margin: 0;
  text-align: center;
}
p{
  margin:0;
}
.laptop{
  width: 15%;
  height: auto;
  float: left;
}
#titleDiv{
  position: absolute;
  top: 25%;
  width: 100%;
}
.title{
  margin: 0 auto;
}
.white-text{
  color: white;
  text-decoration: none;
  text-align: center;
  font-family: sans-serif;
  color: white;
}
.spaced{
  letter-spacing: 0.2em;
}
.about{
  margin: 0 10px;
  text-align: center;
}
#profilepic{
  width: 100%;
  height: auto;
  text-align: center;
  border:5px double black; 
}
#borderbox{
  /*border:1px solid black;*/ 
  margin: 0 auto;
  width: 30%;
}
#profiletext{
  display: inline-block;
  width: 50%;
  /*text-align: left;*/
}
#project1{
  background: #E3CDA4;
}
#project2{
  background: #C77966;
  /*background: #0b542d;*/
}