body {
  padding: 0; margin: 0;
} 
canvas {
  position: relative;
  left:0;
  top:0;
  z-index:-1;
  width:100%;
  height: 100%;
}
header{
  background: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
}
header ul li{
  display: inline-block;
  margin:0 5%;
}
h1{
  font-size: 75px;
}
h2{
  font-size: 60px;
}
#titleDiv{
  position: absolute;
  top: 15%;
  width: 100%;
}
.title{
  margin: 0 auto;
}
.white-text{
  color: white;
  text-decoration: none;
  text-align: center;
  font-family: sans-serif;
  color: white;
}
.spaced{
  letter-spacing: 0.2em;
}